* {
	margin: 0;
	padding: 0;
	font-family: 'Impact';
}

body {
	text-align: center;
	color: #333;
}

h1 {
	margin: 0.5em auto 0.5em;
	font-size: 2.75em;
}

p {
	margin: 2em auto;
}

select,
textarea,
input[type=radio],
input[type=checkbox],
input[type=radio],
input[type=text] {
	font-size: 1.5em;
	border: 1px solid #999;
	border-radius: 3px;
	margin: 0 auto 1em;
	display: block;
	line-height: 1;
	padding: 7px 10px;
	transition: all 0.3s ease;
	background-color: #f6f6f6;
	width: 400px;
}

input[type=radio],
input[type=checkbox] {
	height: 51px;
}

label {
	font-family: 'Courier new';
	width: 400px;
	display: block;
	margin: 0 auto 0.5em;
}

p.desc {
	font-family: 'arial', 'helvetica';
	font-size: 0.7em;
	width: 400px;
	display: block;
	position: relative;
	top: -1.5em;
	margin: 0 auto 0.5em;
	color: #999;
}

p.desc.center {
	color: #000;
	text-align: center;
	width: 440px;
}

input:focus {
	outline: none;
}
